*{
    margin: 0px;
    padding: 0px;
}
/*header*/
.header{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap:16px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
/*header done*/

/*intro*/
.intro{
    height: 400px;
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #030303;
}
.secondary-text{
    font-size: 18px;
    color: #f9faf8;
}
.image-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    background-color: grey;
    color: white;
}
.image-holder .text{
    text-align: center;
    width: 50%;
    padding: 0px;
}
.text{
    width: 400px;
}
button{
    background-color: blue;
    padding: 4px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
    width:100px;
}

/*intro done*/

/*Random Information*/
.Info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    background-color: antiquewhite;
}
.Info .heading-text{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin:30px;
}
.holders{
    display: flex;
    gap:16px;
}
.holders .info, .holders .text{
    max-width: 200px;
}
.holders .info .img{
    width:200px;
    height: 200px;
    color:red;
}